In [2]:
import pandas as pd
pd.__version__

'0.25.3'

In [3]:
df = pd.read_csv('yelp_reviews_AZ_Phoenix.csv')
print(df.shape)
df.sample(3)

(645685, 15)

,address,attributes,business_id,categories,city,latitude,longitude,name,postal_code,stars,state,date,review_stars,text,user_id
462937,4801 E Indian School Rd,"{'BikeParking': 'True', 'WiFi': ""u'free'"", 'Be...",l8k4gOEkfoLKq0mPVWHWGg,"Sports Bars, Breweries, Food, American (Tradit...",Phoenix,33.494238,-111.977849,Arcadia Tavern,85018.0,3.5,AZ,2015-10-08 04:19:01,3,"Meh. Food was good, service was more booty th...",3mNKO7UoH1zGSoa9uhEz2w
511505,3950 E Indian School Rd,"{'Smoking': ""u'no'"", 'BestNights': ""{'monday':...",lnJlOuHGNRoN2zW_a6Vb7g,"Tacos, Mexican, Restaurants, Nightlife, Bars",Phoenix,33.495366,-111.995902,Tacos Tequila Whiskey,85018.0,4.0,AZ,2017-09-29 00:47:53,1,This place is really really really bad. I woul...,u3rdotnWZu0ip73wJyhIlw
243016,26214 N 49th Ln,{'BusinessAcceptsCreditCards': 'False'},20HUES1aIQUiT_7VOOGJSg,"Contractors, Home Services",Phoenix,33.723514,-112.169343,Kmi Contracting,85083.0,5.0,AZ,2014-03-22 22:24:19,5,I've both personally used Don at KMI Contracti...,Az9ZVnlab8bz4cHgrGJL5Q

In [31]:
# Check if review text mentioned 'RV ' or ' RV' that is case sensitive
df_text_RV = df[df['text'].str.contains('RV | RV', case=True, na=False)].name.value_counts()
df_text_RV[:10]

La Mesa RV                     41
Little Dealer Little Prices    21
Showcase Honda                 17
Going Places RV Rentals        17
Bell Honda                     17
Bullseye RV Repair LLC         10
Desert's Edge Rv Village       10
Desert Shadows RV Resort        9
Covered Wagon RV Park           9
ASAP Mobile RV Service          8
Name: name, dtype: int64

In [6]:
df[df['name']=="ASAP Mobile RV Service"].head(1)

,address,attributes,business_id,categories,city,latitude,longitude,name,postal_code,stars,state,date,review_stars,text,user_id
422350,NaN,{'BusinessAcceptsCreditCards': 'True'},S0IAqD1lkVfcmQ0K35Jsqg,"RV Repair, Campgrounds, Hotels & Travel, RV De...",Phoenix,33.449551,-112.078936,ASAP Mobile RV Service,85003.0,3.5,AZ,2016-06-01 18:45:49,1,Terrible!! Gave plenty of time to replace back...,hAvbgXux4yn4_9IBtwzhXQ

In [4]:
df[df['name']=="Desert's Edge Rv Village"].head(1)

,address,attributes,business_id,categories,city,latitude,longitude,name,postal_code,stars,state,date,review_stars,text,user_id
233719,2398 W Williams Dr,NaN,4dYIIpO5LWLjdRKUKvUY0g,"Hotels & Travel, Campgrounds",Phoenix,33.691538,-112.110542,Desert's Edge Rv Village,85027.0,3.5,AZ,2016-03-07 01:06:10,2,Spots to close together \nInternet is spotty a...,8ZIYwN1r5rXq9tzsEd-B_Q

In [16]:
# Reviews per business that doesn't have RV in the name
print('Bell Honda:', df[df['name']=='Bell Honda'].shape[0],
      '\nShowcase Honda:', df[df['name']=='Showcase Honda'].shape[0],
      '\nLittle Dealer Little Prices:', df[df['name']=='Little Dealer Little Prices'].shape[0])

Bell Honda 555
Showcase Honda 493
Little Dealer Little Prices 82

In [53]:
df[df['name']=='Little Dealer Little Prices'].head(1)

,address,attributes,business_id,categories,city,latitude,longitude,name,review_count,stars,state,cool,date,funny,review_stars,text,useful
496036,2350 W Deer Valley Rd,"{'ByAppointmentOnly': 'None', 'BusinessAccepts...",rAVaMDOXgdTjvatokfvR9w,"Automotive, Car Dealers, RV Rental, Auto Parts...",Phoenix,33.684665,-112.109697,Little Dealer Little Prices,78,2.5,AZ,0,2017-05-13 06:57:59,0,1,they keep my trailer over 6 week to fix my hig...,2

In [20]:
# https://twitter.com/justmarkham/status/1161621998994374657
# Create one row for each series that contain comma-separated items
df_explode = df.assign(categories = df.categories.str.split(', ')).explode('categories')
df_explode.sample(3)

,address,attributes,business_id,categories,city,latitude,longitude,name,postal_code,stars,state,date,review_stars,text,user_id
607310,5022 E Chandler Blvd,"{'Alcohol': ""u'none'"", 'RestaurantsGoodForGrou...",DgHXVoAZ4XzbcQMahuJCbw,Event Planning & Services,Phoenix,33.306055,-111.974928,Cracker Barrel Old Country Store,85048.0,3.5,AZ,2011-11-14 21:10:43,4,Not know for fine dining but for good old home...,bpgbVPJcG-wQ4cNBcPPIxw
398465,13825 N 19th Ave,"{'DogsAllowed': 'False', 'BusinessAcceptsCredi...",WpzRURptZ2FIxBmJMl4MXA,Ice Cream & Frozen Yogurt,Phoenix,33.612037,-112.099179,KamanaWana Hawaiian Treats,85023.0,4.5,AZ,2014-06-10 18:26:20,5,Short Version: Awesome. JUST like being in Haw...,OrgOAMFl3VoX3G_jl2Flyw
595845,NaN,"{'ByAppointmentOnly': 'False', 'BusinessAccept...",w6Of2siPZPW9K2OpN6FbPQ,Plumbing,Phoenix,33.627548,-112.059560,Bird Dog Plumbing,85022.0,5.0,AZ,2016-10-01 21:44:23,5,I have the same story as most on Yelp. Water ...,aRvMZAcTfPPGrM_7OfiOZw

In [21]:
print('Total number of categories:', len(df_explode.categories.value_counts()))
df_explode[df_explode['categories'].str.contains('RV', na=False)].categories.value_counts()

Total number of categories: 1096

RV Repair     323
RV Dealers    272
RV Rental     177
RV Parks       40
Name: categories, dtype: int64

In [8]:
# Check if business categories are RV related
df_RV_cat = df[df['categories'].str.contains('RV Repair|RV Dealers|RV Rental|RV Parks|Campgrounds', case=False, na=False)]
print(df_RV_cat.shape)
df_RV_cat.head()

(621, 15)

,address,attributes,business_id,categories,city,latitude,longitude,name,postal_code,stars,state,date,review_stars,text,user_id
42273,1919 W North Ln,{'BusinessAcceptsCreditCards': 'True'},WNJ2B2RFDoPzo_zD2pPLbg,"Used Car Dealers, Auto Repair, RV Repair, Auto...",Phoenix,33.481527,-111.924456,Sonoran Truck & Diesel Sales,85021.0,2.5,AZ,2017-12-05 18:23:49,5,I recently purchased my 3rd truck from ST&D a...,DfGTvcbJcaI1WelKD1jWmw
42274,1919 W North Ln,{'BusinessAcceptsCreditCards': 'True'},WNJ2B2RFDoPzo_zD2pPLbg,"Used Car Dealers, Auto Repair, RV Repair, Auto...",Phoenix,33.481527,-111.924456,Sonoran Truck & Diesel Sales,85021.0,2.5,AZ,2017-04-10 00:47:10,4,Fantastic. The way buying a truck should be. I...,ivKC5qFXYRQQoXVz4Bn2PA
42275,1919 W North Ln,{'BusinessAcceptsCreditCards': 'True'},WNJ2B2RFDoPzo_zD2pPLbg,"Used Car Dealers, Auto Repair, RV Repair, Auto...",Phoenix,33.481527,-111.924456,Sonoran Truck & Diesel Sales,85021.0,2.5,AZ,2018-09-03 00:25:41,1,"Total crap mark, that truck was GUSHING fluid ...",rm9Qen_shm2CGB9WSx7fvg
42276,1919 W North Ln,{'BusinessAcceptsCreditCards': 'True'},WNJ2B2RFDoPzo_zD2pPLbg,"Used Car Dealers, Auto Repair, RV Repair, Auto...",Phoenix,33.481527,-111.924456,Sonoran Truck & Diesel Sales,85021.0,2.5,AZ,2017-01-10 12:27:12,1,I completely agree with the previous 2 reviews...,J6tCR-E1KNbDzbV9aSfv9w
42277,1919 W North Ln,{'BusinessAcceptsCreditCards': 'True'},WNJ2B2RFDoPzo_zD2pPLbg,"Used Car Dealers, Auto Repair, RV Repair, Auto...",Phoenix,33.481527,-111.924456,Sonoran Truck & Diesel Sales,85021.0,2.5,AZ,2017-12-28 11:58:42,1,Where does one start?. I take a truck to my lo...,0akCWVt34SzX6Dn31EIOBQ

In [9]:
df_RV_explode = df_RV_cat.assign(categories = df_RV_cat.categories.str.split(', ')).explode('categories')
df_RV_explode[df_RV_explode['categories'].str.contains('RV', na=False)].categories.value_counts()

RV Repair     323
RV Dealers    272
RV Rental     177
RV Parks       40
Name: categories, dtype: int64

In [49]:
df[df['text'].str.contains('camper', case=False, na=False)].name.value_counts()[:5]

Camp Social                    39
Rock Star Boot Camp            15
Little Dealer Little Prices    14
La Mesa RV                      6
Discount Tire                   4
Name: name, dtype: int64

In [33]:
df[df['text'].str.contains('trailer', case=False, na=False)].name.value_counts()[:5]

The Duce                       56
Little Dealer Little Prices    28
Camp Social                    28
Welcome Diner                  27
Epic Game Trailer              18
Name: name, dtype: int64

In [37]:
df_trailer = df[df['text'].str.contains('trailer', case=False, na=False)]
df_trailer[df_trailer['text'].str.contains('park', case=False, na=False)].name.value_counts()[:5]

The Duce                             15
Desert Shadows RV Resort              4
AMC Dine-in Theatres Esplanade 14     4
Arizona Exposition & State Fair       3
Chino Bandido                         3
Name: name, dtype: int64

In [38]:
df[df['name']=='The Duce'].head(1)

,address,attributes,business_id,categories,city,latitude,longitude,name,postal_code,stars,state,date,review_stars,text,user_id
177870,525 S Central Ave,"{'Music': ""{'dj': True, 'background_music': Fa...",E9IPxXY6pS2gTW2FBkAJmg,"Nightlife, Restaurants, Event Planning & Servi...",Phoenix,33.442448,-112.073486,The Duce,85004.0,3.5,AZ,2015-04-01 15:09:18,3,Absolutely great atmosphere. I had the slider...,-6RNPFZBxJ9ZOZvJbgJKrg

In [36]:
df[df['text'].str.contains('trailer|park', case=False, na=False)].name.value_counts()[:5]

Chase Field                                 360
Arizona Grand Resort & Spa                  326
La Grande Orange                            291
Camelback Mountain                          275
Phoenix Sky Harbor International Airport    265
Name: name, dtype: int64

In [4]:
import pandas as pd

df = pd.read_json('business.json', lines=True)
print(df.shape)
df.head()

(192609, 14)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [36]:
df_AZ = df[df['state']=='AZ']
df_AZ = df_AZ[df_AZ['is_open']==1]
print(df_AZ.shape)
df_AZ.head()

(46910, 14)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
11,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,"{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",1,33.495194,-112.028588,Taco Bell,85016,18,3.0,AZ
16,"4848 E Cactus Rd, Ste 100","{'BusinessAcceptsCreditCards': 'True', 'Busine...",giC3pVVFxCRR89rApqklyw,"Hair Stylists, Beauty & Spas, Hair Salons, Men...",Scottsdale,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-19:0', '...",1,33.600071,-111.977371,Knot Salon,85254,5,5.0,AZ
31,"6875 N 21st Ave, Ste 118",None,mNBp4KI2goFJKDB9VLGP9w,"Automotive, Auto Repair",Phoenix,None,1,33.538024,-112.103201,JSE Automotive Services,85015,4,5.0,AZ
37,1318 S Vineyard,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",M9DM1ktbW-TB7nXu3Z4RDw,"Home Services, Real Estate, Apartments, Hotels...",Mesa,"{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ...",1,33.391003,-111.843620,Sonoma Village,85210,6,2.5,AZ

In [43]:
df_AZ_P = df_AZ[df_AZ['city']=='Phoenix']
print(df_AZ_P.shape)
df_AZ_P.head()

(15471, 14)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
11,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,"{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",1,33.495194,-112.028588,Taco Bell,85016,18,3.0,AZ
31,"6875 N 21st Ave, Ste 118",None,mNBp4KI2goFJKDB9VLGP9w,"Automotive, Auto Repair",Phoenix,None,1,33.538024,-112.103201,JSE Automotive Services,85015,4,5.0,AZ
54,3101 W Northern Ave,{'BusinessAcceptsCreditCards': 'True'},c-BELKj0SvNhBesQMf-bKw,"Convenience Stores, Automotive, Food, Gas Stat...",Phoenix,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,33.552850,-112.125975,Circle K,85051,3,2.5,AZ
68,20645 N 28th St,"{'GoodForMeal': '{'dessert': False, 'latenight...",Y0dRlYjRNWckjvTGd55hzg,"Caterers, Event Planning & Services",Phoenix,None,1,33.674570,-112.021834,M Catering by Michael's,85050,7,5.0,AZ
72,233 E Camelback Rd,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",HYunM2pknhIh8lbiMa7THw,"Interior Design, Contractors, Hardware Stores,...",Phoenix,"{'Monday': '6:0-17:0', 'Tuesday': '6:0-17:0', ...",1,33.509011,-112.069667,Dunn-Edwards Paints,85012,16,3.0,AZ